<input type="checkbox" id="open">
    <label for="open">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <div id="menu">
        <article><a [routerLink] = "['home']"><span>HOME</span></a></article>
        <article><a [routerLink] = "['service']"><span>SERVICES</span></a></article>
        <article><a [routerLink] = "['support']"><span>HELP & SUPPORT</span></a></article>
        <article><a [routerLink] = "['contact']"><span>CONTACT US </span></a></article>
        <article><a [routerLink] = "['login']"><span>MY ACCOUNT</span></a></article>
        <article><a [routerLink] = "['usermain']"><span>USer</span></a></article>
        <article><a [routerLink] = "['settings']"><span>SETTINGS</span></a></article>
    </div>
    